@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Original+Surfer&display=swap');

body {
  background-color: aquamarine;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  background-color: #fcfcfc;
}

h1 {
  margin-top: 10px;
  margin-bottom: 29px;
  color: #0060ca;
  font-size: 32px;
}

h4{
  color: #e73e51;
  font-family: 'Original Surfer', cursive;
}

p{
  color: #0fc9e7;
  margin-top: 20px;
}

.page{
  width: 600px;
  margin: 35px 50px;
  padding: 10px;
}

.buttons{
  width: 700px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

#star {
  display: none;
}

.ball-space {
  margin-top: 20px;
  padding: 10px;
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
}

#ball {
  font-size: 32px;
  color: #24babc;
}

#newBall{
  display: none;
  font-size: 42px;
  color: #f59aa3;
}

.field {
  width: 700px;
  border-radius: 5px;
  margin-top: 20px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.field p{
  color: #fa8383;
}

#key{
  color:#ee4848;
}

#runner {
  display: none;
 }

#running {
  display: none;
}

#instruction{
  display: none;
  border-color: 1px solid #5c3551 ;
  border-radius: 5px;
}

#content {
  background-color: white;
  width: 600px;
}


#race{
  margin-top: 20px;
}

.racer-table td {
  height: 60px;
  width: 50px;
  border-style: dotted;
  border-style:groove;
  border-color: green;
}
.racer-table td.active {
  background-repeat: no-repeat;
  background-size: 100%;
}
#player1-race td.active {
  background-image: url("images/runner.jpeg");
}

#player2-race td.active {
  background-image: url("images/player_2.png");
}

#end {
  background-image: url("images/finish.png");
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 10px;
  padding: auto;
}
